<div class="forms">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= form_for @event, model: event, url: {action: 'create'} do |form| %>
          <div class="alert hidden" id="output_centur"></div>
          <p>
            <%= form.label :category, "Категория:" %>
            <%= form.select :category, nil, {}, { class: 'form-control'} do %>
              <option>--</option>
              <optgroup label="Спортове">
                <option value='Плуване'>Плуване</option>
                <option value='Ветроходство'>Ветроходство</option>
                <option value='Унидсърф'>Унидсърф</option>
                <option value='Водна топка'>Водна топка</option>
                <option value='Волейбол'>Волейбол</option>
                <option value='Футбол'>Футбол</option>
                <option value='Художествена гимнастика'>Художествена гимнастика</option>
                <option value='Спортни танци'>Спортни танци</option>
              </optgroup>
              <optgroup label="Рехабилитация">
                <option value='Вани'>Вани</option>
                <option value='Басейн подводна гиманстика'>Басейн подводна гиманстика</option>
                <option value='Луголечение'>Луголечение</option>
                <option value='Парафинолечение'>Парафинолечение</option>
                <option value='Физиотерапия'>Физиотерапия</option>
                <option value='Масаж'>Масаж</option>
                <option value='Кинезитерапия'>Кинезитерапия</option>
              </optgroup>
              <% end %>
          </p>
          <p>
            <label for="event_date">Дата:</label>
            <%= form.text_field :date, id: :event_date, class: "form-control", placeholder: "Дата", type: 'date' %>
          </p>
           <p>
            <label for="event_location">Местоположение:</label>
            <%= form.text_field :location, id: :event_location, class: "form-control", placeholder: "Местоположение" %>
          </p>
          <p>
            <label for="event_couch">Име на треньор:</label>
            <%= form.text_field :coach_name, id: :event_coach_name, class: "form-control", placeholder: "Име на треньор" %>
          </p>
           <p>
            <label for="event_description">Описание:</label>
            <%= form.text_area :description, class: "form-control", placeholder: "Описание", rows: 5 %>
          </p>
          <%= form.submit name: :submit_form, value: 'Изпрати', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
